@import "mixins";

// *** --------- ABOUT US --------- *** //


.who-we-are{

	.about {
		color: black;
		margin-bottom:50px;
		text-align: left;
		// font-size: 13px;
		line-height: 1.5;
		font-size: 16px;
		font-family: $base-font;
	}
}

/* RECENT POSTS*/
.recent-posts-row {
	padding: 20px;
	@media screen and (max-width: 800px) {
		padding: 0px 50px;
	}
}
.recent-posts {
	/*width: 900px;*/
	width: auto;
	margin: auto;
	@media screen and (max-width: 1120px) {
		width: auto;
	}
	li {
		list-style: none;
		margin:0px;
		padding: 0px;
	}
	.recent-posts-container {
		background: $softgray;
		margin: 5px;
		padding: 20px;
		width: auto;
		height: auto;
	   /* height: 220px;*/
		h4 {
			text-transform: uppercase;
			@include f($secondary-font, 18, 800, normal);
			color: $softblack;
		}
		p {
			@include f($base-font, 16, 200, normal);
			margin-bottom: 20px;
			height: 105px;
			color: $softblack;
		}
		span {
			@include f($secondary-font, 14, 600, normal);
			text-transform: uppercase;
			color: $red;
		}
		&:hover {
			background: $softred;
			color: white;
			p, h4, span {
				color: white;
			}
		}
	}
	.carousel-controls {
		height: 0px;
		#control-next {
			position: relative;
    		float: right;
    		top: -145px;
    		left: 30px;
		}
		#control-prev {
			position: relative;
			top: -120px;
    		right: 30px;
		}
		a {
			color: $gray;
			&:hover {
				color: $softblack;
			}
		}
	}
	.cycle-pager {
		text-align: center;
		width: 100%;
		margin-top: -5px;
		span {
			font-family: arial;
		    font-size: 40px;
		    width: 16px;
		    height: 16px;
		    display: inline-block;
		    color: #ddd;
		    cursor: pointer;
		    &.cycle-pager-active {
		    	color: $red;
		    }
		}
	}

}
#mySlideshowMobile {
	display: none;
	@media screen and (max-width: 800px) {
		display: block;
	}
}
#mySlideshow {
	display: block;
	@media screen and (max-width: 800px) {
		display: none;
	}
}
/*  MEDIA QUERIES */
@media screen and (max-width: 960px) {
	.recent-posts {
		li {}
		.recent-posts-container {
			h4 {}
			p {
				@include f($base-font, 13, 200, normal);
			}
		}
	}
}