@import "mixins";

// *** --------- HOMEPAGE --------- *** //
#banner-text{
    position: relative;
    bottom: 260px;
}
#banner-text p, #banner-text h2{
	text-align: center !important;
	color: #fff;
}

#banner-text p {
	font-size: 10px;
	margin-bottom: 10px;
}

#banner-text h2{
	font-family: "Quicksand", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 30px;
}
.fpSection{
	margin-top: -50px;
	.fpContent{
		font-size: 12px;
	}
	.fpHeader{
		font-family: "Quicksand", Helvetica, Arial, sans-serif;
		display: block;
		font-weight: 600;
		margin-top: 20px;
		margin-bottom: -10px;
		font-size: 14px;
	}
	.fpLink{
		margin-top: -30px;
		a{
		font-size: 12px;
		font-family: "Quicksand", Helvetica, Arial, sans-serif;
		font-weight: 600;
		margin-top: -50px;
	}
	}

}
