@import "mixins";

// *** --------- HOMEPAGE --------- *** //
#banner-text{
    position: relative;
    bottom: 260px;
}
#banner-text p, #banner-text h2{
	text-align: center !important;
	color: #fff;
}

#banner-text p {
	font-size: 10px;
}

#banner-text h2{
	font-family: "Quicksand", Helvetica, Arial, sans-serif;
	font-weight: 400;
	width: 410px;
	font-size: 25px;
    	margin: -34px auto;
}