@import url(https://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i|Quicksand:300,400,500,700);
html {
  font-size: 62.5%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

#_d, .share-popup, #siteAlert {
  box-sizing: content-box !important; }

body {
  color: #404041;
  font-family: "Merriweather", Georgia, serif;
  font-size: 150%;
  line-height: 1.6;
  font-weight: 400;
  background: #fff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Merriweather", Georgia, serif;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 .6em; }

h1, .h1 {
  font-size: 3.8rem;
  font-family: "Quicksand", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #404041;
  text-transform: uppercase;
  letter-spacing: .04em;
  text-align: center;
  position: relative;
  padding-bottom: 36px; }
  h1:after, .h1:after {
    content: '';
    width: 48px;
    height: 5px;
    border-radius: 1px;
    background: #f7bf5c;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto; }

h2, .h2 {
  font-size: 2rem;
  font-family: "Quicksand", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #404041;
  text-transform: uppercase;
  letter-spacing: .06em; }

h3, .h3 {
  font-size: 1.8rem;
  font-family: "Quicksand", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #404041;
  letter-spacing: .06em; }

a {
  text-decoration: none;
  color: #f4836d; }
  a:hover {
    color: #f7bf5c;
    text-decoration: none; }

p, li {
  font-size: 1.8rem;
  font-family: "Merriweather", Georgia, serif;
  line-height: 1.4; }

p {
  margin: 0 0 45px; }

ul, ol {
  margin: 14px 0 45px; }
  ul li, ol li {
    list-style: disc outside;
    margin: 0 0 14px 16px;
    font-size: 16px;
    font-size: 1.6rem; }
    ul li ul li, ul li ol li, ol li ul li, ol li ol li {
      margin-bottom: 0; }

ol li {
  list-style: decimal outside; }

button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background: #f4836d;
  border-radius: 10px;
  min-height: 40px;
  padding: 5px 30px;
  margin: 0;
  max-width: 100%;
  border: none;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Quicksand", Helvetica, Arial, sans-serif; }
  button:hover {
    background: #f7bf5c; }

img {
  max-width: 100%; }
