#content #primary.single-post article {
  width: 100%;
  max-width: 771px;
  margin: 0 auto;
  color: #333333; }
  #content #primary.single-post article .post-thumbnail {
    font-size: 13px;
    font-size: 1.3rem;
    color: #666666;
    font-style: italic;
    width: 100%;
    max-width: 771px;
    margin: 40px auto 0; }
    #content #primary.single-post article .post-thumbnail > img {
      display: block;
      height: auto;
      margin-bottom: 15px; }
  #content #primary.single-post article section {
    margin: 40px 0 70px; }
    #content #primary.single-post article section > * {
      width: 100%;
      max-width: 570px;
      margin: 0 auto; }
    #content #primary.single-post article section h2 {
      margin: 30px auto 20px; }
    #content #primary.single-post article section h3 {
      margin: 20px auto; }
    #content #primary.single-post article section p {
      margin-bottom: 20px; }
    #content #primary.single-post article section ul,
    #content #primary.single-post article section ol {
      margin-bottom: 50px;
      padding-left: 55px; }
    #content #primary.single-post article section blockquote {
      margin: 60px 0;
      border-left: none; }
      #content #primary.single-post article section blockquote p {
        font-family: "Quicksand", Helvetica, Arial, sans-serif;
        font-size: 44px;
        font-size: 4.4rem;
        font-weight: 400;
        font-style: normal;
        color: #ffcc66;
        text-transform: capitalize;
        text-align: left;
        width: 100%;
        max-width: 470px;
        margin: 0;
        padding: 0; }
@media (min-width: 576px) {
  #content article {
    max-width: 296px; }
    #content article .post-thumbnail {
      font-size: 12px;
      font-size: 1.2rem;
      max-width: 296px; }
    #content article section > * {
      max-width: 288px; }
    #content article section blockquote p {
      font-size: 36px;
      font-size: 3.6rem; } }
@media (min-width: 992px) {
  #content article {
    max-width: 721px; }
    #content article .post-thumbnail {
      max-width: 721px; }
    #content article section > * {
      max-width: 500px; } }
